body{
    background-image: url(./cycling-background.jpg);
display: flex;
 align-items: center;
 justify-content: space-around;
}

#chart{
    
   
    text-align: center;

}
svg{
 
    background-color:rgba(208, 219, 226, 0.6);

}
circle:hover{
    fill: white;
}
.label{
    
    font-size: 30px;
}
#tooltip{
   
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   pointer-events : none;
/* in order to prevent mouseleave from bubbling neeed to prevent pointer events!!*/
}

.title{
    font-size: 50px;
    text-shadow: 1px;
}
.subtitle{
    font-size: 24px;
}
.xaxis, .yaxis{
    font-size: 18px;
    stroke-width: 2px;
}

